@font-face{font-family:"Plus Jakarta Sans";font-weight:400;font-style:normal;src:url("assets/Poppins-Regular.ttf") format("truetype");}
@font-face{font-family:"Plus Jakarta Sans";font-weight:500;font-style:normal;src:url("assets/Poppins-Medium.ttf") format("truetype");}
@font-face{font-family:"Plus Jakarta Sans";font-weight:600;font-style:normal;src:url("assets/Poppins-Medium.ttf") format("truetype");}
@font-face{font-family:"Plus Jakarta Sans";font-weight:700;font-style:normal;src:url("assets/Poppins-Bold.ttf") format("truetype");}
@font-face{font-family:"Plus Jakarta Sans";font-weight:800;font-style:normal;src:url("assets/Poppins-Bold.ttf") format("truetype");}
@font-face{font-family:"JetBrains Mono";font-weight:400;font-style:normal;src:url("assets/DejaVuMono.ttf") format("truetype");}
@font-face{font-family:"JetBrains Mono";font-weight:600;font-style:normal;src:url("assets/DejaVuMono-Bold.ttf") format("truetype");}
@font-face{font-family:"JetBrains Mono";font-weight:700;font-style:normal;src:url("assets/DejaVuMono-Bold.ttf") format("truetype");}
